@use '../../utils/' as u;
.all-classes {
    display: grid;
    gap: 15px;
    -webkit-column-gap: 15px;
    margin-top: 40px;
    grid-template-columns: auto auto auto;
    .classe-content {
        padding: 20px 20px;
        box-shadow: 0px 5px 10px var(--grayShadow);
        color: var(--blackColor);
        strong {
            display: flex;
            justify-content: flex-end;
            color: var(--blueColor);
        }
        p {
            margin-bottom: 10px;
        }
        .icons-view {
            padding: 5px 10px;
            width: fit-content;
            font-size: 0.8rem;
            transition: 0.8s;
            transition-delay: 0.2s;
            border: 1px dashed var(--blueColor);
            a,
            i {
                color: var(--blueColor);
            }
            &:hover {
                background-color: var(--blueColor);
                border: 1px solid var(--blueColor);
                a,
                i {
                    color: var(--whiteColor);
                }
            }
        }
        .click-div {
            display: flex;
            gap: 5px;
            -webkit-column-gap: 5px;
            align-items: center;
            color: var(--blueColor);
            margin-top: 10px;
            justify-content: flex-start;
            animation-delay: 5s;
            animation: animate 5s linear infinite;
            @keyframes animate {
                0% {
                    transform: translateY(-5px);
                }
                100% {
                    transform: translateY(5px);
                }
            }
        }
    }
}