@use '../../utils/' as u;
@use '../../utils/mixins' as *;
.tutor-connected {
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-column-gap: 5px;
    justify-content: flex-end;
    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.tutor-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    -webkit-column-gap: 10px;
    margin-top: 80px;
    .tutor-item {
        text-align: center;
        padding: 30px 30px;
        box-shadow: 0px 5px 10px var(--grayShadow);
        .tutor-icon {
            padding: 20px 20px;
            border-radius: 50%;
            font-size: 1.2rem;
            color: var(--whiteColor);
            background-color: var(--blueColor);
        }
        .click-div {
            width: fit-content;
            padding: 10px;
            margin: auto;
            margin-top: 10px;
            transition: 0.8s;
            border: 2px dotted var(--blueColor);
            a,
            i {
                font-size: 0.8rem;
                color: var(--blueColor);
            }
        }
        &:hover {
            box-shadow: 0px 15px 20px var(--grayShadow);
            transform: translateY(10px);
        }
    }
}