/********** FONT **********/

$font-poppins: "Poppins",
sans-serif;

/********** PALETTE COLORS **********/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --grayColor: #d0d7e1;
    --blueColor: #064469;
    --grayShadow: #adadad62;
    --redColor: #cb4c46;
    --btnColor: #efeded;
    --blackShadow: #00000046;
}